
body {
    font-family: 'Hind Siliguri', sans-serif !important;
    background-color: #EEE2DC;
    color: #AC3B61;
}
header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    background-color: #EEE2DC;
    color: #AC3B61;
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.filters-info {
    background-color: #ebebeb;
    margin: 0.5em 0;
    padding: 0.3em 1em;
    border-radius: 0.3em;
}
.filters-info-details {
    font-size: 0.8em;
}
.expandor{
    cursor: pointer;
    font-size: 0.9em;
}
.expander-icon{
    float: right;
}
.clear-all-filters-button{
    background-color: #36453B;
    color: #ebebeb;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    text-align: center;
}
.filter {
    background-color: #ebebeb;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 0.3em;
    border: 1px solid #fff;
}
.filter-ignored{
    padding: 0.5em 1em;
    font-size: 0.8em;
    cursor: pointer;
}
.question {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}
.question .material-icons {
    vertical-align: baseline;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: .25em;
}
.help-text {
    font-size: 0.8em;
}
.help-text .material-icons {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: .25em;
}
.filter-options {
    margin-top: 0.5em;
}
.filter-option {
    display: inline-block;
    background-color: #C5C6C7;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
}
.ignore-filter-container {
    text-align: right;
    font-size: 0.8em;
    cursor: pointer;
}

.activated {
    background-color: #88b2ff;
}
.matched-results-title {
    font-size: 1.1em;
}
.crab-container {
    display: inline-block;
    margin: 0.3em 0.2em;
    width: 200px;
    height: 220px;
    vertical-align: top;
    background-color: #ebebeb;
    color: #AC3B61;
    padding: 0.3em;
    position: relative;
    border: 1px solid #AC3B61;
}
.crab-shadow {
    -moz-box-shadow:    5px 5px 4px 0px #888;
    -webkit-box-shadow: 5px 5px 4px 0px #888;
    box-shadow:         5px 5px 4px 0px #888;
  }
.crab-container .scientific-name {
    font-size: 0.8em;
}

.crab-image-container{
    height: 140px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.crab-image {
    max-width:100%;
    max-height:100%;
}
.crab-no-image {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 3em;
    z-index: 10;
    padding-top: 0.25em;
}
.image-count-display {
    position: absolute;
    right: 0px;
    background-color: #36453B;
    color: #ebebeb;
    padding: 0 4px;
    opacity: 0.7;
}
.crab-links {
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}
.crab-links-right {
    position: absolute;
    right: 5px;
    top: 0;
}
.crab-links a:link, .crab-links a:visited, .crab-links a:active {
    color: #AC3B61;
}
.crab-links a:hover {
    color: #CBB3BF;
}
.crab-link {
    display: inline-block;
}

.material-icons {
    vertical-align: bottom;
}



.details-popup-container {
    position: absolute;
    z-index: 100;
    max-width: 100%;
    left: 0;
}
.details-popup {
    background-color: #CBB3BF;
    -moz-box-shadow:    5px 5px 4px 0px #888;
    -webkit-box-shadow: 5px 5px 4px 0px #888;
    box-shadow:         5px 5px 4px 0px #888;
    color: #212529;
    border: 1px solid #888;
    border-radius: 10px;
    width: 100%;
}
.popup-banner {
    position: relative;
    background-color: rgb(172, 59, 97);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 2em;
    font-size: 1.5em;
    padding: 5px 20px;
    color: #ebebeb;
}
.popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-close .material-icons {
    font-size: 1.5em;
}
.popup-content {
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
}
.crab-detail-container {
    display: inline-block;
    /* border: 1px solid #36453B; */
    border-radius: 0.3em;
    padding: 5px;
    margin: 3px;
    background-color: #ebebeb;
    position: relative;
    width: 400px;
    font-size: 0.8em;
    vertical-align: top;
    white-space: normal;
}
.crab-detail-container .crab-image-container {
    height: 300px;
    color: #ebebeb;
}
.remove-crab-from-dialog-container {
    position: relative;
    font-size: 0.8em;
    height: 0.8em;
}
.remove-crab-from-dialog-container span {
    position: absolute;
    right: 0.5em;
    text-decoration: underline;
    cursor: pointer;
}
.crab-detail-container .common-name {
    font-size: 1.5em;
}
.crab-detail-container .scientific-name {
    font-size: 1em;
}
.crab-detail-container .details-list {
}
.crab-detail-container .crab-links {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.no-list-items {
    margin-bottom: 1em;
}
.details-compare-link {
    font-size: 0.8em;
    padding-left: 1em;
    text-decoration: underline;
    cursor: pointer;
}