
body {
    font-family: 'Hind Siliguri', sans-serif !important;
    background-color: #EEE2DC;
    color: #37B;
}
header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    background-color: #840027;
    color: #fff;
}
footer {
    margin-top: 1em;
    padding-top: 1em;
    background-color: #737373;
    color: #fff;
    font-size: 0.8em;
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
.logo {
    width: 40px;
    margin-left: 20px;
}
.filters-info {
    background-color: #FFF4E8;
    margin: 0.5em 0;
    padding: 0.3em 1em;
    border-radius: 0.3em;
}
.filters-info-details {
    font-size: 0.8em;
}
.expandor{
    cursor: pointer;
    font-size: 0.9em;
}
.expander-icon{
    float: right;
}
.clear-all-filters-button{
    background-color: #36453B;
    color: #ebebeb;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    text-align: center;
}
.filter {
    background-color: #FFF4E8;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 0.3em;
    /* border: 1px solid #fff; */
}
.filter-ignored{
    padding: 0.5em 1em;
    font-size: 0.8em;
    cursor: pointer;
}
.question {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}
.question .material-icons {
    vertical-align: baseline;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: .25em;
}
.help-text {
    font-size: 0.8em;
}
.help-text .material-icons {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: .25em;
}
.filter-options {
    margin-top: 0.5em;
}
.filter-option {
    display: inline-block;
    background-color: #C5C6C7;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
}
.ignore-filter-container {
    text-align: right;
    font-size: 0.8em;
}
.ignore-filter-container span {
    cursor: pointer;
    text-decoration: underline;
}
.activated {
    background-color: #88b2ff;
}
.matched-results-title {
    font-size: 1.1em;
}
.crab-container {
    display: inline-block;
    margin: 0.3em 0.2em;
    width: 200px;
    height: 220px;
    vertical-align: top;
    background-color: #FFF4E8;
    color: #37B;
    padding: 0.3em;
    position: relative;
    /* border: 1px solid #AC3B61; */
    border-radius: 5px;;
}
.crab-shadow {
    -moz-box-shadow:    5px 5px 4px 0px #888;
    -webkit-box-shadow: 5px 5px 4px 0px #888;
    box-shadow:         5px 5px 4px 0px #888;
  }
.crab-container .scientific-name {
    font-size: 0.8em;
}

.crab-image-container{
    height: 140px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.crab-image {
    max-width:100%;
    max-height:100%;
}
.crab-no-image {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 3em;
    z-index: 10;
    padding-top: 0.25em;
}
.image-count-display {
    position: absolute;
    right: 0px;
    background-color: #36453B;
    color: #ebebeb;
    padding: 0 4px;
    opacity: 0.7;
    z-index: 10;
}
.crab-image-container:hover .previous-image-trigger, .crab-image-container:hover .next-image-trigger {
    display: block;
}
.previous-image-trigger, .next-image-trigger {
    display: none;
    position: absolute;
    background-color: white;
    top: 0;
    height: 100%;
    padding-top: 60px;
    z-index: 5;
    opacity: 0.6;
    user-select: none;
}
.crab-detail-container .previous-image-trigger, .crab-detail-container .next-image-trigger {
    padding-top: 140px;
    width: 30px;
}
.previous-image-trigger {
    left: 0px;
}
.next-image-trigger {
    right: 0px;
}
.crab-links {
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}
.crab-links-right {
    position: absolute;
    right: 5px;
    top: 0;
}
.crab-links a:link, .crab-links a:visited, .crab-links a:active {
    color: #37B;
}
.crab-links a:hover {
    color: #534;
}
.crab-link:hover {
    color: #534;
}
.crab-link {
    display: inline-block;
}

.material-icons {
    vertical-align: bottom;
}


.details-popup-container {
    position: absolute;
    z-index: 100;
    max-width: 100%;
    left: calc(50% - 100vw);
    transform: translate(-50%, 0) translate(100vw, 0);
}
.popup {
    background-color: #EEE2DC;
    -moz-box-shadow:    5px 5px 4px 0px #888;
    -webkit-box-shadow: 5px 5px 4px 0px #888;
    box-shadow:         5px 5px 4px 0px #888;
    color: #0251a0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
}
.popup-banner {
    position: relative;
    background-color: #840027;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 2em;
    font-size: 1.2em;
    padding: 5px 20px;
    color: #fff;
}
.popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-close .material-icons {
    font-size: 1.5em;
}
.popup-content {
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
}
.popup-link {
    float: right;
    margin-right: 20px;
    margin-top: 2px;
    /* font-size: 1.2em; */
    color: #ebebeb;
}




.fullsize-image-popup-container {
    position: absolute;
    z-index: 200;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
}
.fullsize-image-container {
    position: relative;
}

.view-image-fullsize-trigger {
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #fff;
    opacity: 0.9;
    z-index: 10;
}
.view-image-fullsize-trigger:hover {
    color: #534;
}



.crab-detail-container {
    display: inline-block;
    /* border: 1px solid #36453B; */
    border-radius: 0.3em;
    padding: 5px;
    margin: 3px;
    background-color: #FFF4E8;
    position: relative;
    width: 400px;
    font-size: 0.8em;
    vertical-align: top;
    white-space: normal;
}
.crab-detail-container .crab-image-container {
    height: 300px;
}
.remove-crab-from-dialog-container {
    position: relative;
    font-size: 0.8em;
    height: 0.8em;
}
.remove-crab-from-dialog-container span {
    position: absolute;
    right: 0.5em;
    text-decoration: underline;
    cursor: pointer;
}
.crab-detail-container .common-name {
    font-size: 1.5em;
}
.crab-detail-container .scientific-name {
    font-size: 1em;
}
.references {
    font-size: 0.8em;
}
.crab-detail-container .crab-links {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.no-list-items {
    margin-bottom: 1em;
}
.details-compare-link {
    font-size: 0.8em;
    padding-left: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.info-link-button {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    border-radius: .25em;
    border: 1px solid;
    border-color: rgba(27,31,35,.2);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    float: right;
    margin-right: 3px;
}
.info-link-button a:link, .info-link-button  a:visited{
    color: #24292e;
    text-decoration: none;
}
.info-link-button img {
    height: 20px;
    width: 20px;
}
.info-link-button .material-icons {
    font-size: 20px;
    vertical-align: middle;
}



/* version 2 styles */

.main-container{
    background-color: #FFF4E8;
}
.page-title{
    font-size: 1.5em;
    margin-bottom: .5em;
}
.crab-item{
    display: inline-block;
    /* border: 1px solid #959595; */
    margin: 8px;
    vertical-align: top;
    width: 200px;
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
    height: 200px;
    background-color: #EEE2DC;
}
.breadcrumb-item {
    cursor: pointer;
}
.breadcrumb-column {
    text-align: right;
}
.crab-options-container{
    margin-top: 1em;
    margin-bottom: 1em;
}
.crab-item-id-notes {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    padding: 2px;
}
.crab-item-id-notes:first-letter {
    text-transform: uppercase;
}